<section id="products" class="mg-top">
    <div class="container">
        <div class="products__list flex-container">
            <div class="products__img">
                <img src="./assets/images/basket.png" />
            </div>
            <div class="products__details">
                <h3>Fruits & Vegetables</h3>
                <div class="products__description">A variety of fresh fruits and Vegetables</div>
                <button class="main-button">
                    Explore Fruit and Veg
                </button>
            </div>
        </div>
        <div class="products__list flex-container">
            <div class="products__img">
                <img src="./assets/images/bread.png" />
            </div>
            <div class="products__details">
                <h3>Fruits & Vegetables</h3>
                <div class="products__description">A variety of fresh fruits and Vegetables</div>
                <button class="main-button">
                    Explore Fruit and Veg
                </button>
            </div>
        </div>
        <div class="products__list flex-container">
            <div class="products__img">
                <img src="./assets/images/beverages.png" />
            </div>
            <div class="products__details">
                <h3>Fruits & Vegetables</h3>
                <div class="products__description">A variety of fresh fruits and Vegetables</div>
                <button class="main-button">
                    Explore Fruit and Veg
                </button>
            </div>
        </div>
    </div>
</section>