<header>
    <div class="container">
        <div class="row flex-container">
            {{> logo/logo.hbs}}
            <nav class="navigation">
                {{> navigation/navigation.hbs}}
            </nav>
            <div id="shoppingCart" class="shopping-cart-container">
                {{> cart/cart.hbs}}
            </div>
        </div>
    </div>
</header>