<div class="container mg-top" id="carousel">
    <div class="carousel-items">
        <div class="carousel-image">
            <img src="./assets/images/discount.jpeg" />
        </div>
        <div class="carousel-text">
            <h3>Independence Day Sale</h3>
        </div>
        <div class="discount-banner">
            <img src="./assets/images/discount.png" />
        </div>
    </div>
</div>